
.footer {
    width: 100%;

    color: #858585;
    background-color: #2f2f2f;

    font-size: 24px;
    font-weight: 300;
    line-height: 1;
}

.footer__rules {
    padding: 20px;
}

.footer__rules-checkbox {
    display: none;
}

.footer__rules-label::before {
    position: absolute;
    top: 0;
    left: -45px;

    display: block;

    width: 35px;
    height: 35px;

    content: '';
    cursor: pointer;

    background: url('../images/sprite_checkbox.png') -40px 0 no-repeat;
}

.footer__rules-checkbox:checked + .footer__rules-label::before {
    background-position: 0 0;
}

.footer__rules-label {
    position: relative;

    display: block;

    margin-left: 45px;
}

.footer__rules-link {
    color: #fff;
}

.footer__copyright {
    padding: 0 20px 15px;

    line-height: 1.1;
}

.footer__copyright-text {
    margin: 0;
}